<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="toolkitSettings" type="TimeSync.Config.XmlSerializerSectionHandler, TimeSync"/>
  </configSections>
  <appSettings>
    <add key="JiraUrl" value="https://starwiki.atlassian.net/" />
    <add key="TogglApiUrl" value="https://api.track.toggl.com/" />
  </appSettings>
  <toolkitSettings type="TimeSync.Toolkit.ToolkitSettings, TimeSync">
    <url>https://goto.netcompany.com/cases/GTO847/SFARCITY/</url>
    <timeRegistrationList>Tidsregistrering</timeRegistrationList>
    <caseList>Sager</caseList>
    <caseActiveStateCodes>&lt;82</caseActiveStateCodes>
    <caseDefaultValues>
      <default>
        <field>CaseType</field>
        <fieldType>Choice</fieldType>
        <value>Change</value>
      </default>
      <default>
        <field>Team</field>
        <fieldType>Lookup</fieldType>
        <value>PromptFromList:Teams</value>
      </default>
      <default>
        <field>Priority</field>
        <fieldType>Choice</fieldType>
        <value>D - Lav</value>
      </default>
      <default>
        <field>Status</field>
        <fieldType>Choice</fieldType>
        <value>31 - I gang</value>
      </default> 
      <default>
        <field>Scope</field>
        <fieldType>Choice</fieldType>
        <value>Timebaseret</value>
      </default>
      <default>
        <field>Estimate</field>
        <fieldType>Number</fieldType>
        <value>0</value>
      </default>
      <default>
        <field>RemainingWork</field>
        <fieldType>Number</fieldType>
        <value>0</value>
      </default>
    </caseDefaultValues>
    <workPackageList>Arbejdspakker</workPackageList>
    <workPackageActiveStateCodes>&lt;90</workPackageActiveStateCodes>
    <workPackageDefaultValues>
      <default>
        <field>Team</field>
        <fieldType>Lookup</fieldType>
        <value>PromptFromList:Teams</value>
      </default>
      <default>
        <field>Release</field>
        <fieldType>Lookup</fieldType>
        <value>PromptFromList:Releases</value>
      </default>
      <default>
        <field>Status</field>
        <fieldType>Choice</fieldType>
        <value>31 - I gang</value>
      </default>
      <default>
        <field>Estimate</field>
        <fieldType>Number</fieldType>
        <value>0</value>
      </default>
      <default>
        <field>RemainingWork</field>
        <fieldType>Number</fieldType>
        <value>0</value>
      </default>
    </workPackageDefaultValues>
  </toolkitSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>